body{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  background:url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg');
  background-size: cover;
}

.login-box{
  width:280px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}

.text-box{
  width:100%;
  overflow:hidden;
  font-size: 20px;
  padding:8px 0;
  margin: 8px 0;
  border-bottom:1px solid rgb(166, 235, 235);
}
.text-box input{
  border:none;
  outline:none;
  background: none;
  color:white;
  font-size: 30px;
  width: 80%;
  text-align: center;
  padding-left: 5vh;
  
}

.text{
  color:white;
}
.messages{
  color: white;
  /* padding-left: 14vh;
  margin-top: 10vh; */
  margin-bottom:60vh;
}
.userName{
  color:white;
 
  
}
.log-out{
  margin-top:15px;
  height: 30px;
}
.log-out>span{
  color:white;
  font-size: 30px;
  margin-right: 5vh;
}
.log-out>span:hover{
  color:red;
}
textarea{
background:#f2f2f2 ;
width :30vh;
font-size: 20px;
height:200px;
border: 2px solid ;
border-radius: 5px;
/* padding: 10px; */
box-shadow: 2.5px 5px #e6e2e2;
margin-top: 60px !important;
}



.textArea{
 
  /* height: 40vh; */
  padding-top:10vh;
  width: 32%;
  /* overflow:hidden; */
  font-size: 20px;
}
  .textArea textarea{
  /* border:none; */
  outline:none;
  background: none;
  color: black;
  font-size: 20px;
  width: 60vh;
  height: 30.5vh;
  text-align: center;
  padding-top: 13.5rem;
  
  }
 

.post2text{
  margin-top:20px;
  justify-self: start;

}
.messages{
  height:auto;
  text-align: center;
  color:black;
  width:48vh;
  background:rgb(241, 238, 238);
  /* margin-left: 80vh; */
  margin-bottom: 3vh;
  
}
#name{
  margin-left: 10px;
  margin-top:10px;
  

}
.name-two{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Arvo', serif;
}
#message{
  padding:10px 0px 40px 10px;
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
}
header>h1{
background:white;
height:66px;
color:rgb(241, 233, 233);
background-color: inherit;
text-align: center;
font-size: 5vh;


}

button{
  padding:10px;
}