
body{
  background-color: rgb(71, 57, 57);
}
.wrapper{
  display: -webkit-box;
  justify-content: space-around;
  display: flex;
    align-content: center;
    align-items: center;

}
.container-child {
  display:grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(243, 237, 237);
  border: 3px inset;
}

.container{
background-color: white;
margin: 10rem 10rem 10rem;
}
.h3{
  flex: 1;
}
.date{
  flex:3;
}
.fa{
  flex:1;
}
.input{
  margin-right: 890px
}
.button{
  margin-right: 890px
}
.userz{
  width:35rem;
}
#icon{
  margin: 1rem 1rem;
}
#computerIcon{
  margin: 0rem 1rem;
}
#usersTrash{
  margin: 0rem 1rem;
}
ul{
  list-style: none;
}